.container-fluid {
  position: relative;
  /* height: 20vh; */
  background-color: lightblue;
}

img {
  position: relative;
  aspect-ratio: 16/9;
  object-fit: contain;
  width: 13rem;
  vertical-align: middle;
}

button[name="registrar"] {
  width: 100%;
}
