.container-fluid{
  position: relative;
  height: 20vh;
  background-color: lightblue;
}

img {
  position: relative;
  aspect-ratio: 16/9;
  object-fit: contain;
  height: 100%;
}

button[name="registrar"]{
  width: 100%;
}